/* Your styles for the component */
select {
  width: 80%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button:disabled {
  background: #B0B0B0; /* Cor de fundo para botão desabilitado */
  color: #757575; /* Cor do texto para botão desabilitado */
  cursor: not-allowed; /* Cursor para indicar que não é clicável */
}

button:not(:disabled) {
  background: #AB7442; /* Cor de fundo para botão habilitado */
  color: #F5F5F5; /* Cor do texto para botão habilitado */
}
select option {
  background-color: #fff; /* Background color */
  color: #333; /* Text color */
  padding: 8px 12px; /* Padding around the text */
}

/* Style for the last option to remove the bottom border */
select option:last-child {
  border-bottom: none;
}

/* Hover effect for options */
select option:hover {
  background-color: #f0f0f0; /* Hover background color */
}

input[type="text"] {
  width: 100%; /* Full width of the container */
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type="text"]:focus {
  border-color: #AB7442;
  box-shadow: 0 0 8px 0 rgba(171, 116, 66, 0.6);
}

button{
  padding: 7px;
  width: 60px;
  height: 40px;
  background: #AB7442;
  color: #F5F5F5;
  
}
h1 {
    padding-top: 5%;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .table {
    width: 170%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .table th {
    background-color: #AB7442;
    color: #fff;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Apply a consistent background color for all even rows */
  }
  
  .table tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Apply a consistent background color for all odd rows */
  }
  
  .center-container {
    text-align: center;
  }
  
  .back-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #100f0f;
    background-color: #fff;
  }
  
  .back-button:hover {
    background-color: #AB7442;
  }
  