
.icon {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .icon img {
    width: 190px; /* Adjust the width and height as needed */
    height: 190px;
  }

  label{
    padding-right: 33%;
  }
/* Oculta a checkbox original */
.real-checkbox {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Estilo para a representação visual da checkbox */
.custom-checkbox {
  display: inline-block;
  width: 20px; /* Tamanho desejado para a checkbox */
  height: 20px; /* Tamanho desejado para a checkbox */
  border: 1px solid #ccc;
  background-color: #fff;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  margin-right: 5px;;
}

/* Estilo para o ícone de 'check' quando marcado */
.custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Estilo do ícone de 'check' */
.real-checkbox:checked + .custom-checkbox:after {
  display: block;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

  select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    padding: 0 30px 0 10px; /* Adjust the padding as needed */
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="%238a8b8e"><path d="M7 10l5 5 5-5z" /></svg>') no-repeat right 10px center/12px 12px #fff; /* Add a custom arrow icon */
  }
  
  select:focus {
    border-color: #AB7442;
  }
  
  select:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
  }
  
  select:valid ~ .validation {
    display: block;
    border-color: #0C0;
  }
  
  select:valid ~ .validation span {
    background: #0C0;
    position: absolute;
    border-radius: 6px;
  }
  
  select:valid ~ .validation span:first-child {
    top: calc(50% - 1.5px);
    left: calc(50% - 10px);
    width: 20px;
    height: 3px;
    transform: rotate(-45deg);
  }
  
  select:valid ~ .validation span:last-child {
    top: calc(50% - 1.5px);
    left: calc(50% - 5px);
    width: 11px;
    height: 3px;
    transform: rotate(45deg);
  }
  
  .validation {
    display: none;
    position: absolute;
    content: " ";
    height: 60px;
    width: 30px;
    right: 15px;
    top: 0px;
  }
  
  
  h2 {
    font-weight: 300;
    text-align: center;
  }
  
  p {
    position: relative;
  }
  
  a,
  a:link,
  a:visited,
  a:active {
    color: #AB7442;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  a:focus, a:hover,
  a:link:focus,
  a:link:hover,
  a:visited:focus,
  a:visited:hover,
  a:active:focus,
  a:active:hover {
    color: #AB7442;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  #login-form-wrap {
    background-color: #fff;
    width: 40%;
    margin: 100px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
    
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
  }
  
  #login-form {
    padding: 0 60px;
  }
  
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
    display: inline-block;
    background: none;
  }
  input[type="password"]:focus,
  input[type="text"]:focus,
  input[type="email"]:focus {
    border-color: #AB7442;
  }
  input[type="password"]:focus:invalid,
  input[type="text"]:focus:invalid,
  input[type="email"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
  }
  input[type="password"]:valid ~ .validation,
  input[type="text"]:valid ~ .validation,
  input[type="email"]:valid ~ .validation {
    display: block;
    border-color: #0C0;
  }
  input[type="password"]:valid ~ .validation span,
  input[type="text"]:valid ~ .validation span,
  input[type="email"]:valid ~ .validation span {
    background: #0C0;
    position: absolute;
    border-radius: 6px;
  }
  input[type="password"]:valid ~ .validation span:first-child,
  input[type="text"]:valid ~ .validation span:first-child,
  input[type="email"]:valid ~ .validation span:first-child {
    top: 30px;
    left: 14px;
    width: 20px;
    height: 3px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  input[type="password"]:valid ~ .validation span:last-child,
  input[type="text"]:valid ~ .validation span:last-child,
  input[type="email"]:valid ~ .validation span:last-child {
    top: 35px;
    left: 8px;
    width: 11px;
    height: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .validation {
    display: none;
    position: absolute;
    content: " ";
    height: 60px;
    width: 30px;
    right: 15px;
    top: 0px;
  }
  
  input[type="submit"] {
    border: none;
    display: block;
    background-color: #AB7442;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }
  input[type="submit"]:hover {
    background-color: #AB7442;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  #create-account-wrap {
    background-color: #ab754231;
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
  }