<div class="content">
<h1>Política de Privacidade RobDroneGo</h1>
    
<h2>Introdução</h2>
<p>Esta Política de Privacidade estabelece como a aplicação RobDroneGo operada <b>robdronego</b>, recolhe, utiliza e protege as informações pessoais dos seus utilizadores.</p>

<h2>Responsável pelo Tratamento</h2>
<p>O responsável pelo tratamento dos dados pessoais é o <b>robdronego</b>, contactável através do email <a href="mailto:info-sa@isep.ipp.pt">info-sa@isep.ipp.pt</a>.</p>

<h2>Recolha e Utilização de Dados Pessoais</h2>
<p>A Aplicação requer o fornecimento de informações pessoais, como nome, palavra-passe, e-mail, número de telemóvel, cargo e também recolhe imagens e gravações por meio dos robots de vigilância.</p>

<h2>Direitos dos Titulares dos Dados</h2>
<p>Os utilizadores têm direito a aceder, retificar ou eliminar os seus dados pessoais, bem como a limitar o tratamento e a opor-se ao mesmo, e a solicitar a portabilidade dos dados.</p>

<h2>Alteração de Informações Pessoais</h2>
<p>Os utilizadores têm a liberdade de atualizar ou corrigir os seus dados pessoais para manter a precisão das informações.</p>

<h2>Conservação das Informações</h2>
<p>Os dados pessoais, incluindo imagens e gravações, serão mantidos pelo tempo necessário para cumprir os propósitos para os quais foram recolhidos, respeitando os prazos estipulados pelo RGPD.</p>

<h2>Consentimento para o Armazenamento de Dados, Imagens e Gravações</h2>
<p>Ao aceitar esta Política de Privacidade, o utilizador consente com o armazenamento dos seus dados pessoais nos sistemas do <b>robdronego</b>, que serão protegidos e tratados com o máximo sigilo e segurança, conforme as melhores práticas e em conformidade com a legislação em vigor.</p>
<p>Ao utilizar a Aplicação, o utilizador consente explicitamente com a captação e tratamento de imagens e gravações pelas câmaras dos robots de vigilância. Este consentimento é requerido para a utilização das funcionalidades de vigilância da Aplicação.</p>

<h2>Obrigações do Utilizador</h2>
<p>Ao utilizar a Aplicação, o utilizador declara ser maior de idade e concorda integralmente com os termos desta Política de Privacidade.</p>

<h2>Outros Termos</h2>
<p>Os dados pessoais e as imagens/gravações podem ser comunicados a autoridades competentes se requerido por lei ou em casos de investigação de atividades criminosas.</p>
<button mat-button (click)="closeDialog()">Fechar</button>
</div>
